@page
@model NinjaStore.Pages.Files.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container alert alert-danger">
    <h1>Delete</h1>

    <img class="center" src="data:image;base64,@System.Convert.ToBase64String(Model.CaffMetadata.Preview)" />
    
    <hr />
    <div class="content">
        <dl class="row">
            <dt class="col-sm-2">
                Uploader
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.CaffMetadata.Username)
            </dd>

            <dt class="col-sm-2">
                Duration time
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.CaffMetadata.Duration)
            </dd>

            <dt class="col-sm-2">
                File name
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.CaffMetadata.FileName)
            </dd>
            <dt class="col-sm-2">
                File size
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.CaffMetadata.FileSize)
            </dd>

            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.CaffMetadata.Description)
            </dd>

            <dt class="col-sm-2">
                Download counter
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.CaffMetadata.DownloadCounter)
            </dd>
        </dl>
    </div>
    
    <form method="post">
        <h5 style="text-align:center">Are you sure you want to delete file - @Model.CaffMetadata.FileName?</h5>
        <input type="hidden" asp-for="CaffMetadata.FileId" />
        <input type="submit" value="Delete" class="btn btn-danger" style="margin-left:34%; width:15%; height:50px;"/>
        <a asp-page="./Details" asp-route-id="@Model.CaffMetadata.FileId">
            <input value="Cancel" class="btn btn-light" style="margin-right:34%; width:15%; height:50px;"/>
        </a>
    </form>
</div>
